<html>
	<head>
	<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		<title>Heart Disease Test</title>

	<!-- Favicons -->
	<link href="static/assets/img/favicon.png" rel="icon">
	<link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link href="static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
	<link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
	<link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	<link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
	<link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href="static/assets/css/style.css" rel="stylesheet">



		
	</head>
	<body>
	<!-- Java Script -->	
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

		
	<!-- ======= Header ======= -->
	<header id="header" class="">
	
	<div class="container d-flex align-items-center col-sm-12">



			<!-- Uncomment below if you prefer to use an image logo -->
			<a  class="logo me-auto"><img src="static/assets/img/logo.jpg" alt="" class="img-fluid"></a>

			<div class="container d-flex align-items-center col-sm-8">
			<nav id="navbar" class="navbar order-last order-lg-0 text-center">
		<ul>
				<li><a class="nav-link scrollto active" href="#">Home</a></li>
				<li><a class="nav-link scrollto" href="#heart-12">Predict Now </a></li>
				
		</ul>
		<i class="bi bi-list mobile-nav-toggle"></i>
			</nav><!-- .navbar -->

		

	</div>
		</header><!-- End Header -->


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
	<div class="container">
			<h1>Welcome to Heart Disease Prediction</h1>
			<h2>Predict your chance of having a heart disease because prevention is better than cure!</h2>
	</div>
		</section><!-- End Hero -->










<section>


		<!-- Navbar-->
		

		<div id="heart-12">

		</br> 	</br> 	</br> 	</br> 	</br> 	</br>
		
		<div class="container">
			<br>
			<!--Form-->
			<form action = "{{url_for('predict')}}" method ="POST" >
				<fieldset><nav class="navbar navbar-dark bg-dark">
					<span class="navbar-brand mb-0 h1" style="font-size: 2em;padding: auto;margin: auto;">Heart Disease Prediction Form</span>
				</nav>
				

						<div class="card card-body" >
							<div class="form-group  row">
						<div class="col-sm-3">
							<label for="age"><b>Age</b></label>
							<input type="number" class="form-control" id="age" name="age" required>
						</div>
						<div class="col-sm-3">
							<label for="sex"><b>Sex</b></label>
							<select class="form-control" id="sex"  name="sex" required>
									<option disabled selected value> -- Select an Option -- </option>
									<option value = "0">Male</option>
									<option value = "1">Female</option>
							</select>
								</div>
							</div>
							<br>
							<div class="form-group  row">
								<div class="col-sm">
							<label for="cp"><b>Chest Pain Type</b></label>
							<select class="form-control" id="cp" name = "cp" required>
									<option disabled selected value> -- Select an Option -- </option>
									<option value = "0">Typical Angina</option>
									<option value = "1">Atypical Angina</option>
									<option value = "2">Non-anginal Pain</option>
									<option value = "3">Asymptomatic</option>
							</select>
								</div>
								<div class="col-sm">
							<label for="trestbps"><b>Resting Blood Pressure in mm</b></label>
							<input type="number" class="form-control" id="trestbps" name="trestbps"  required>
								</div>
								<div class="col-sm">
							<label for="chol"><b>Serum Cholestoral in mg/dl</b></label>
							<input type="number" class="form-control" id="chol" name="chol" required>
								</div>
								<div class="col-sm">
							<label for="fbs"><b>Fasting Blood Sugar > 120 mg/dl</b></label>
							<select class="form-control" id="fbs" name="fbs" required>
									<option disabled selected value> -- Select an Option -- </option>
									<option value = "0">False</option>
									<option value = "1">True</option>
							</select>
						</div>
							</div>
							
							<br>
							<div class="form-group row">
							<div class="col-sm">
								<label for="restecg"><b>Resting ECG Results</b> </label>
								<select class="form-control" id="restecg" name="restecg" required>
										<option disabled selected value> -- Select an Option -- </option>
										<option value = "0">Normal</option>
										<option value = "1">Having ST-T wave abnormality  </option>
										<option value = "2"> Probable or definite left ventricular hypertrophy  </option>
								</select>
									</div>
									<div class="col-sm">
								<label for="thalach"><b>Maximum Heart Rate</b></label>
								<input type="number" class="form-control" id="thalach" name="thalach" required>
									</div>
									<div class="col-sm">
								<label for="exang"><b>ST Depression Induced</b></label>
								<input type="number" step="any" class="form-control" id="exang" name="exang" required>
									</div>
									<div class="col-sm">
								<label for="exang"><b>Exercise Induced Angina</b> </label>
								<select class="form-control" id="oldpeak" name="oldpeak" required>
										<option disabled selected value> -- Select an Option -- </option>
										<option value = "0">No</option>
										<option value = "1">Yes</option>
								</select>
									</div>
								</div>
								<br>
								<div class="form-group  row">
								<div class="col-sm">
							<label for="slope"><b>Slope of the Peak Exercise ST Segment</b> </label>
							<select class="form-control" id="slope" name="slope" required>
									<option disabled selected value> -- Select an Option -- </option>
									<option value = "0">Upsloping</option>
									<option value = "1">Flat</option>
									<option value = "2">Downsloping</option>
							</select>
								</div>
								<div class="col-sm">
							<label for="ca"><b>Number of Vessels Colored by Flourosopy</b></label>
							<select class="form-control" id="ca" name = "ca" required>
									<option disabled selected value> -- Select an Option -- </option>
									<option value = "0">0</option>
									<option value = "1">1</option>
									<option value = "2">2</option>
									<option value = "3">3</option>
							</select>
								</div>
								<div class="col-sm">
							<label for="thal"><b>Thalassemia</b></label>
							<select class="form-control" id="thal" name = "thal" required>
									<option disabled selected value> -- Select an Option -- </option>
									<option value = "3">Normal</option>
									<option value = "6">Fixed defect</option>
									<option value = "7">Reversable defect</option>
							</select>
								</div>
							</div>
							<br>
							<div class="form-group">
						<input class="btn btn-primary" type="submit" value="Result">
							</div>
							
							<!--Prediction Result-->
							<div id ="result">
							<strong style="color:red">{{result}}</strong>
						</div>
						</div>
				</fieldset>
			</form>
			
		</div>
	</div>
	</section>




	<footer id="footer">

		
	
		<div class="container d-md-flex py-4">
	
				<div class="me-md-auto text-center text-md-start">
			<div class="copyright">
					&copy; Copyright <strong><span></span></strong>. All Rights Reserved
			</div>
			<div class="credits">
					<!-- All the links in the footer should remain intact. -->
					<!-- You can delete the links only if you purchased the pro version. -->
					<!-- Licensing information: https://bootstrapmade.com/license/ -->
					<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/ -->
					Designed by <a href="#"></a>SSS</a>
			</div>
				</div>
				<div class="social-links text-center text-md-right pt-3 pt-md-0">
			<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
			<a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
			<a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
			<a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
			<a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
				</div>
		</div>
			</footer><!-- End Footer -->



			<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>




















	</body>
</html>

